/.DS_Store
/.cursor
/.htaccess
/Default.html
/backup-migration-pre-woo
/index.php
/license.txt
/php_errorlog
/public_html
/readme.html
/sync.sh
/wordfence-waf.php
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-config.php.PROD
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/wp_auto_login_2e09f024eb0699fc79cc5af5beccff44.php
/xmlrpc.php