*
.*
!.gitignore

!wp-content/
wp-content/*

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/royal-elementor-kit/
!wp-content/themes/royal-elementor-kit/**

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/ltc-custom/
!wp-content/plugins/ltc-custom/**